.u-section-1 .u-sheet-1 {min-height: 500px}
.u-section-1 .u-video-1 {width: 837px; height: 467px; margin: 17px auto 17px 119px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 434px}
.u-section-1 .u-video-1 {margin-left: auto} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 658px}
.u-section-1 .u-video-1 {width: 720px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 368px}
.u-section-1 .u-video-1 {height: 310px; margin-right: initial; margin-left: initial; width: auto} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 262px}
.u-section-1 .u-video-1 {height: 216px; width: auto; margin-right: initial; margin-left: initial} }.u-section-2 .u-sheet-1 {min-height: 500px}
.u-section-2 .u-gallery-1 {height: 375px; grid-gap: 10px 10px; margin: 50px auto 0 0}
.u-section-2 .u-over-slide-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-over-slide-2 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-over-slide-3 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-over-slide-4 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-over-slide-5 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-over-slide-6 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-gallery-2 {width: 1140px; height: 375px; grid-gap: 10px 10px; margin: 30px auto 0 0}
.u-section-2 .u-over-slide-7 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-over-slide-8 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-over-slide-9 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-over-slide-10 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-over-slide-11 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-over-slide-12 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-gallery-3 {height: 375px; grid-gap: 10px 10px; margin: 30px auto 0}
.u-section-2 .u-over-slide-13 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-over-slide-14 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-over-slide-15 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-over-slide-16 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-over-slide-17 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-over-slide-18 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-gallery-4 {height: 375px; grid-gap: 10px 10px; margin: 30px auto 0}
.u-section-2 .u-over-slide-19 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-over-slide-20 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-over-slide-21 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-over-slide-22 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-over-slide-23 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-over-slide-24 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-gallery-5 {height: 375px; grid-gap: 10px 10px; margin: 30px auto 0}
.u-section-2 .u-over-slide-25 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-over-slide-26 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-over-slide-27 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-over-slide-28 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-over-slide-29 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-over-slide-30 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-gallery-6 {height: 375px; grid-gap: 10px 10px; margin: 30px auto 0}
.u-section-2 .u-over-slide-31 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-over-slide-32 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-over-slide-33 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-over-slide-34 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-over-slide-35 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-over-slide-36 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-gallery-7 {height: 376px; grid-gap: 10px 10px; margin: 30px auto 0}
.u-section-2 .u-over-slide-37 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-over-slide-38 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-over-slide-39 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-over-slide-40 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-over-slide-41 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-over-slide-42 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-gallery-8 {height: 375px; grid-gap: 10px 10px; margin: 30px auto 11px 0}
.u-section-2 .u-over-slide-43 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-over-slide-44 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-over-slide-45 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-over-slide-46 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-over-slide-47 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-over-slide-48 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 434px}
.u-section-2 .u-gallery-1 {height: 309px; grid-template-columns: repeat(3, auto); margin-right: initial; margin-left: initial}
.u-section-2 .u-gallery-2 {width: 940px; height: 309px; grid-template-columns: repeat(3, auto)}
.u-section-2 .u-gallery-3 {height: 309px; grid-template-columns: repeat(3, auto); margin-right: initial; margin-left: initial}
.u-section-2 .u-gallery-4 {height: 309px; grid-template-columns: repeat(3, auto); margin-right: initial; margin-left: initial}
.u-section-2 .u-gallery-5 {height: 309px; grid-template-columns: repeat(3, auto); margin-right: initial; margin-left: initial}
.u-section-2 .u-gallery-6 {height: 309px; grid-template-columns: repeat(3, auto); margin-right: initial; margin-left: initial}
.u-section-2 .u-gallery-7 {height: 310px; grid-template-columns: repeat(3, auto); margin-right: initial; margin-left: initial}
.u-section-2 .u-gallery-8 {height: 309px; grid-template-columns: repeat(3, auto); margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 658px}
.u-section-2 .u-gallery-1 {height: 533px; grid-template-columns: repeat(2, auto); margin-right: initial; margin-left: initial}
.u-section-2 .u-gallery-2 {width: 720px; height: 533px; grid-template-columns: repeat(2, auto)}
.u-section-2 .u-gallery-3 {height: 533px; grid-template-columns: repeat(2, auto); margin-right: initial; margin-left: initial}
.u-section-2 .u-gallery-4 {height: 533px; grid-template-columns: repeat(2, auto); margin-right: initial; margin-left: initial}
.u-section-2 .u-gallery-5 {height: 533px; grid-template-columns: repeat(2, auto); margin-right: initial; margin-left: initial}
.u-section-2 .u-gallery-6 {height: 533px; grid-template-columns: repeat(2, auto); margin-right: initial; margin-left: initial}
.u-section-2 .u-gallery-7 {height: 534px; grid-template-columns: repeat(2, auto); margin-right: initial; margin-left: initial}
.u-section-2 .u-gallery-8 {height: 533px; grid-template-columns: repeat(2, auto); margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 1724px}
.u-section-2 .u-gallery-1 {height: 1599px; grid-template-columns: repeat(1, auto); margin-right: initial; margin-left: initial}
.u-section-2 .u-gallery-2 {width: 540px; height: 1599px; grid-template-columns: repeat(1, auto)}
.u-section-2 .u-gallery-3 {height: 1599px; grid-template-columns: repeat(1, auto); margin-right: initial; margin-left: initial}
.u-section-2 .u-gallery-4 {height: 1599px; grid-template-columns: repeat(1, auto); margin-right: initial; margin-left: initial}
.u-section-2 .u-gallery-5 {height: 1599px; grid-template-columns: repeat(1, auto); margin-right: initial; margin-left: initial}
.u-section-2 .u-gallery-6 {height: 1599px; grid-template-columns: repeat(1, auto); margin-right: initial; margin-left: initial}
.u-section-2 .u-gallery-7 {height: 1602px; grid-template-columns: repeat(1, auto); margin-right: initial; margin-left: initial}
.u-section-2 .u-gallery-8 {height: 1599px; grid-template-columns: repeat(1, auto); margin-right: initial; margin-left: initial} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 1132px}
.u-section-2 .u-gallery-1 {height: 1007px; margin-right: initial; margin-left: initial}
.u-section-2 .u-gallery-2 {width: 340px; height: 1007px}
.u-section-2 .u-gallery-3 {height: 1007px; margin-right: initial; margin-left: initial}
.u-section-2 .u-gallery-4 {height: 1007px; margin-right: initial; margin-left: initial}
.u-section-2 .u-gallery-5 {height: 1007px; margin-right: initial; margin-left: initial}
.u-section-2 .u-gallery-6 {height: 1007px; margin-right: initial; margin-left: initial}
.u-section-2 .u-gallery-7 {height: 1009px; margin-right: initial; margin-left: initial}
.u-section-2 .u-gallery-8 {height: 1007px; margin-right: initial; margin-left: initial} }.u-section-3 .u-sheet-1 {min-height: 500px}
.u-section-3 .u-gallery-1 {height: 375px; grid-gap: 10px 10px; margin: 22px auto 0 0}
.u-section-3 .u-over-slide-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-3 .u-over-slide-2 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-3 .u-over-slide-3 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-3 .u-over-slide-4 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-3 .u-over-slide-5 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-3 .u-over-slide-6 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-3 .u-gallery-2 {width: 1140px; height: 375px; grid-gap: 10px 10px; margin: 30px auto 0 0}
.u-section-3 .u-over-slide-7 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-3 .u-over-slide-8 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-3 .u-over-slide-9 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-3 .u-over-slide-10 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-3 .u-over-slide-11 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-3 .u-over-slide-12 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-3 .u-gallery-3 {height: 376px; grid-gap: 10px 10px; margin: 30px auto 60px}
.u-section-3 .u-over-slide-13 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-3 .u-over-slide-14 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-3 .u-over-slide-15 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-3 .u-over-slide-16 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-3 .u-over-slide-17 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-3 .u-over-slide-18 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 434px}
.u-section-3 .u-gallery-1 {height: 309px; grid-template-columns: repeat(3, auto); margin-right: initial; margin-left: initial}
.u-section-3 .u-gallery-2 {width: 940px; height: 309px; grid-template-columns: repeat(3, auto)}
.u-section-3 .u-gallery-3 {height: 310px; grid-template-columns: repeat(3, auto); margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 658px}
.u-section-3 .u-gallery-1 {height: 533px; grid-template-columns: repeat(2, auto); margin-right: initial; margin-left: initial}
.u-section-3 .u-gallery-2 {width: 720px; height: 533px; grid-template-columns: repeat(2, auto)}
.u-section-3 .u-gallery-3 {height: 534px; grid-template-columns: repeat(2, auto); margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 1724px}
.u-section-3 .u-gallery-1 {height: 1599px; grid-template-columns: repeat(1, auto); margin-right: initial; margin-left: initial}
.u-section-3 .u-gallery-2 {width: 540px; height: 1599px; grid-template-columns: repeat(1, auto)}
.u-section-3 .u-gallery-3 {height: 1602px; grid-template-columns: repeat(1, auto); margin-right: initial; margin-left: initial} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 1132px}
.u-section-3 .u-gallery-1 {height: 1007px; margin-right: initial; margin-left: initial}
.u-section-3 .u-gallery-2 {width: 340px; height: 1007px}
.u-section-3 .u-gallery-3 {height: 1009px; margin-right: initial; margin-left: initial} }.u-section-4 .u-sheet-1 {min-height: 500px}
.u-section-4 .u-gallery-1 {height: 375px; grid-gap: 10px 10px; margin: -27px auto 0 0}
.u-section-4 .u-over-slide-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-4 .u-over-slide-2 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-4 .u-over-slide-3 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-4 .u-over-slide-4 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-4 .u-over-slide-5 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-4 .u-over-slide-6 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-4 .u-gallery-2 {width: 1140px; height: 375px; grid-gap: 10px 10px; margin: 30px auto 60px 0}
.u-section-4 .u-over-slide-7 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-4 .u-over-slide-8 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-4 .u-over-slide-9 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-4 .u-over-slide-10 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-4 .u-over-slide-11 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-4 .u-over-slide-12 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px} 

@media (max-width: 1199px){ .u-section-4 .u-sheet-1 {min-height: 434px}
.u-section-4 .u-gallery-1 {height: 309px; grid-template-columns: repeat(3, auto); margin-right: initial; margin-left: initial}
.u-section-4 .u-gallery-2 {width: 940px; height: 309px; grid-template-columns: repeat(3, auto)} }

@media (max-width: 991px){ .u-section-4 .u-sheet-1 {min-height: 658px}
.u-section-4 .u-gallery-1 {height: 533px; grid-template-columns: repeat(2, auto); margin-right: initial; margin-left: initial}
.u-section-4 .u-gallery-2 {width: 720px; height: 533px; grid-template-columns: repeat(2, auto)} }

@media (max-width: 767px){ .u-section-4 .u-sheet-1 {min-height: 1724px}
.u-section-4 .u-gallery-1 {height: 1599px; grid-template-columns: repeat(1, auto); margin-right: initial; margin-left: initial}
.u-section-4 .u-gallery-2 {width: 540px; height: 1599px; grid-template-columns: repeat(1, auto)} }

@media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 1132px}
.u-section-4 .u-gallery-1 {height: 1007px; margin-right: initial; margin-left: initial}
.u-section-4 .u-gallery-2 {width: 340px; height: 1007px} }